{% extends 'base.html' %}

{% block  content %}
    <h1>TODO list
        <a style="float: right" class="btn btn-primary" href="{% url 'task:task-create' %}">add</a>
    </h1>

    {% if task_list %}


    {% for task in task_list %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ task.content }} {{ task.is_done|yesno:'Done, Not done'}}
                <form action="{% url 'task:change-button' pk=task.id %}" method="post">
                    {% if task.is_done %}
                        {% csrf_token %}
                        <input style="color: red" type="submit" value="Undo">
                    {% else %}
                        {% csrf_token %}
                        <input style="color: green" type="submit" value="Complete">
                    {% endif %}
                </form>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Create: {{ task.datetime }}
                {% if task.deadline %}
                    Deadline: {{ task.deadline }}
                {% endif %}
            </h6>
              <p>Tags:
                  {% for tag in task.tags.all %}
                    {{ tag }}
                  {% endfor %}
                <a href="{% url "task:task-update" pk=task.pk %}" class="card-link">Update</a>
                <a href="{% url "task:task-delete" pk=task.pk %}" class="card-link">Delete</a>
              </p>
          </div>
        </div>

    {% endfor %}
    {% else %}
        <p>There are no tasks in the todo list</p>
    {% endif %}

{% endblock %}



